@font-face {
    font-family: 'Poppins-Regular';
    src: url('Poppins-Regular.ttf');
}

*{
  font-family: 'Poppins-Regular';
  font-size: 1rem;
  border: none;
  margin: 0;
  padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#SeleçaoImagem {
    display: none;
}

.imagem {
    width: 30rem;
    height: 20rem;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed #aaa;
    cursor: pointer;
}

.imagem:hover {
    color: #888;
}

.form {
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 10px;
    margin-left: 50rem;

    & input {
        font-size: 18px;
        width: 70%;
    }



}

.tela {
    padding: 0;
    margin: 0;
    display: flex;
}

.illustration {
    text-align: center;
    justify-content: center;
    margin: 0;
    width: 30%;
    padding: 0;
    height: 100vh;
    background: rgb(119, 1, 185);
    background: linear-gradient(180deg, rgba(119, 1, 185, 0.5984768907563025) 35%, rgba(5, 1, 235, 0.5984768907563025) 100%);
}

.imgleft {
    margin-top: 12.5rem;
}

.tt {
    font-size: 2rem;
    width: 30rem;
    text-align: center;
}

.form {
    margin-left: 25%;
    margin-top: 5rem;
    padding: 0;
    text-align: center;
    margin-top: 2rem;
    height: 100vh;
}

#register-button {
    justify-content: center;
    transition: 0.3s;
    background: rgb(119, 1, 185);
    color: white;
    font-size: 18px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    width: 30rem;
    cursor: pointer;
}

& #register-button:hover {
    opacity: 0.7;
}