@font-face {
    font-family: 'Poppins-Regular';
    src: url('Poppins-Regular.ttf');
}

header{
    margin-bottom: 0px !important;
}

#SeleçaoImagem {
    display: none;
}

.imagem {
    width: 75%;
    height: 20rem;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed #aaa;
    cursor: pointer;
}

.imagem:hover {
    color: #888;
}

.form-section{
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .form-product{
        display: flex;
        flex-direction: column;
        align-items:  center;
        justify-content: center;
        width: 55%;
        gap: 13.8px;

        & input, textarea{
            width: 75% !important;
            font-size: 1.2rem;
        }

        & .dual-input{
            gap: 10px;
            width: 75%;
            align-items: center;
            justify-content: space-between;
            display: flex;

            & input{
                width: 50% !important;
            }
        }
    }

}


.illustration {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: rgb(119, 1, 185);
    background: linear-gradient(180deg, #7e57c28e 35%, #0501eb86 100%);
}

#register-button {
    justify-content: center;
    transition: 0.3s;
    background: rgb(119, 1, 185);
    color: white;
    font-size: 18px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    width: 75%;
    cursor: pointer;
}

& #register-button:hover {
    opacity: 0.7;
}

main{
    display: flex;
}