.start {
  margin: 10px;
  padding: 10px;
}

.content>p {
  padding-top: 10px;
  font-size: 20pt;
}

#nomeUser{
  color: #743DD2;
  font-size: 25pt;
}

.itens {
  margin: 10px;
  padding: 10px;
}

.pedidos{
  display: flex;
  justify-content: center;
  padding: 5px;
}

.card {
  width: 300px;
  height: 340px;
  border: solid rgba(0, 0, 0, 0.404) 1px;
  border-radius: 25px;
  margin: 10px 20px ;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
}

.card>p {
  padding: 0px 10px;
  margin-top: 25px;
  font-size: 18pt;
}

.id{
  text-align: center;
  font-size: 20pt;
  font-weight: bolder;
}

.preco {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0px 10px;
  margin-top: 20px;
  font-size: 18pt;
}

.opc {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 10px 10px;
  margin-top: 5px;
  height: 40px;
}

.sim>button {
  text-align: center;
  background-color: rgb(21, 189, 21);
  border: solid rgba(0, 0, 0, 0) 1px;
  border-radius: 25px;
  height: 55px;
  width: 100px;
  color: white;
}

.sim>p {
  margin-top: 4px;
}

.sim>button:hover {
  background-color: rgb(15, 230, 15);
}

.nao>button {
  text-align: center;
  background-color: rgb(238, 40, 40);
  border: solid rgba(0, 0, 0, 0.034) 1px;
  border-radius: 25px;
  height: 55px;
  width: 100px;
  color: white;
}

.nao>p {
  margin-top: 4px;
}

.nao>button:hover {
  background-color: rgb(255, 0, 0);
}

.detalhes {
  text-align: center;
  margin-top: 20px;
}

.detalhes>button {
  text-align: center;
  background-color: #743DD2;
  border: solid rgba(0, 0, 0, 0.034) 1px;
  border-radius: 15px;
  height: 65px;
  width: 210px;
  color: white;
  margin-top: 35px;
}

.detalhes>button:hover {
  background-color: #611adb;
}

.down {
  margin-top: 60px;
  background-color: rgb(248, 244, 244);
  height: 600px;
  border-top: solid rgba(0, 0, 0, 0.336) 1px;
  border-radius: 95px 95px 0px 0px;
}

.Produtos {
  margin: 25px 15px;
  justify-content: center;
}

.Produtos>h1 {
  text-align: center;
}

.Produtos>h1>span {
  color: #743DD2;
}

.content-down {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.card-down {
  background-color: white;
  border: solid rgba(0, 0, 0, 0.418) 1px;
  border-radius: 25px;
  margin: 10px 20px ;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
}

.tempo-frete{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 14pt;
}

.nomeProduto {
  padding: 5px 10px;
  font-size: 17pt;
  font-weight: bold;
}

.precoProduto {
  padding: 2px 10px;
  font-size: 17pt;
}

.padaria {
  padding: 2px 10px;
  font-size: 14pt;
}