main{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page-top{
  width: 100%;
  margin-bottom: 20px;

  & h1{
    font-size: 2rem;
    padding-left: 60px;
  }
}

.page-content{
  width: 100%;
  display: flex;
}

.left-side{
  width: 35%;
  
  & h1{
    width: 100%;
    text-align: center;
  }
  
  & .itens{
    color: white;
    height: 721px;
    border-radius: 0px 60px 60px 0px;
    background: rgba(116, 61, 210, 0.603);
    background: linear-gradient(180deg, rgba(116,61,210,0.5984768907563025) 46%, rgba(5,1,235,0.6012780112044818) 100%);
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
  }

  & .itens-list{
    max-height: 640px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & .product{
    width: 100%;
    border-bottom: solid 1px white;
    display: flex;
    flex-direction: column;

    & div{
      display: flex;
      align-items: center;
      letter-spacing: 1px;
      justify-content: space-between;

      & p{
        font-size: 20px;
      }
    }

    & h1{
      width: 100%;
      font-weight: 300;
      text-align: left;
    }
  }

  & .total-value{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    & h1{
      font-size: 28px;
      font-weight: 300;
      width: fit-content;
    }
  }
}

.right-side{
  width: 60%;
  padding: 0px 20px;

  & h1{
    width: 100%;
    text-align: center;
  }

  & h2{
    font-size: 22px;
    font-weight: 300;
  }

  & .payment-types, .delivery-types{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-around;

    & button{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 21px;
      outline: none;
      cursor: pointer;
      width: 15%;
      border-radius: 30px;
      border-color: rgb(116, 61, 210);
      background-color: #F6F6F6;
      opacity: 0.3;
      transition: 0.2s;
    }

    & button:hover{
      opacity: 1;
    }
     
    & img{
      height: 130px;
    }
  }

  & .delivery-types{
    & button{
      padding-top: 25px;

      & img{
        height: 120px;
      }
    }
  }

  & .confirm-section{
    width: 100%;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & button{
      width: 70%;
      letter-spacing: 2px;
      font-size: 22px;
      padding: 6px;
      border: none;
      border-radius: 30px;
      background: rgba(116, 61, 210, 0.603);
      background: linear-gradient(90deg, rgba(116, 61, 210, 0.5) 46%, rgba(5,1,235,0.5) 100%);  
      color: white;
      cursor: pointer;
      transition: 0.2s;
    }

    & button:hover{
      opacity: 0.8;
    }
  }
}

.active{
  opacity: 1 !important;
}