*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins Default';
}

::selection{
    background-color: rgb(161, 39, 231);
    color: white;
}

@font-face {
    font-family: 'Poppins Default';
    src: url('../font/Poppins-Regular.ttf');
}

.form-input{
    border-radius: 20px;
    padding: 3px 10px;
    background-color: #FDFDFD;
    border: solid #C3C3C3 1px;
    transition: 0.2s;
    outline: none;
}

.form-input::placeholder{
    color: #AAAAAA;
}

.form-input:focus{
    border-color: #474747;
}

.form-input:disabled{
    background-color: #ececec;
}

.error-message{
    color: red;
    position: relative;
    bottom: 0;
}

.error-box{
    width: 100%;
    height: 40px;
}

.free{
    color: #02C35B;
}

.medium{
    color: yellow;
}

.high{
    color: red;
}

noscript{
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    z-index: 10000;
    font-size: 32px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.input-error{
    border-color: rgb(194, 60, 60) !important;
    transition: 0.2s;
}

.load{
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.custom-loader {
    width:100px;
    height:100px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#7c4ee7);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 16px),#000 0);
    animation:s3 1s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}

.cart-content{
    width: 100%;
    height: 100%;
    background-color: #00000067;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 999;
    top: 0;

    & .sidebar{
        height: 100%;
        width: 20%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        right: 0;
        background-color: white;

        & .sidebar-content{
            height: 89%;
            overflow-y: auto;
        }

        & .sidebar-footer{
            height: 11%;
            display: flex;
            flex-direction: column;
            align-items: center;

            & .final-value{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 5px;

                & h1{
                    font-size: 28px;
                    font-weight: 300;
                }
            }

            & a{
                text-align: center;
                width: 100%;

                font-size: 26px;
                border-radius: 40px;
                text-decoration: none;
                background-color: #743DD2;
                color: white;
                border: none;
                transition: 0.2s;
                cursor: pointer;
            }

            & a:hover{
                background-color: #9167d8;
            }
        }

        & .sidebar-title{
            border-bottom: solid 1px rgba(0, 0, 0, 0.144);
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;

            & h1{
                font-size: 30px;
            }

            & button{
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                font-size: 32px;
                background-color: transparent;
                border: none;
                transition: 0.3s;
                cursor: pointer;
            }

            & button:hover{
                color: rgb(110, 110, 110);
            }
        }

        & .cart-item{
            display: flex;
            border-bottom: solid 1px rgba(0, 0, 0, 0.144);
            flex-direction: column;

            & .cart-item-title{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                & h1{
                    font-weight: 300;
                }
            }

            & .cart-item-actions{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                & h2{
                    font-weight: 300;
                }

                & .cart-actions{
                    width: 80%;
                    display: flex;
                    flex-direction: row-reverse;
                    gap: 15px;
                    & button{
                        display: flex;
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        font-size: 36px;
                        background-color: transparent;
                        transition: 0.3s;
                        cursor: pointer;
                        border: none;
                    }
        
                    & button:hover{
                        color: rgb(85, 85, 85);
                    }
                }
            }
        }
    }
}

.logout-div{
    display: flex;
    align-items: center;
    justify-content: center;

    .logout{
        font-size: 22px;
        transition: 0.2s;
        cursor: pointer;
    }    

    .logout:hover{
        color: #505050;
    }
}

.modal-content{
    width: 100%;
    height: 100%;
    background-color: #00000067;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 999;
    top: 0;
}

.product-modal{
    border-radius: 20px;
    background-color: white;
    padding: 8px;

    & .close-modal{
        position: absolute;
        z-index: 100;
        background-color: transparent;
        left: 73.5%;
        border: none;
        font-size: 26px;
        cursor: pointer;
        transition: 0.2s;
    }

    & .loading-modal{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
    }

    & .close-modal:hover{
        color: #474747;
    }
    
    & .modal-line{
        width: 100% !important;
        height: 4px;
        background-color: #00000010;
        padding: 0 !important;
        border-radius: 10px;
    }

    & .modal-upper{
        width: 100%;
        height: 45%;
        display: flex;

        & img{
            width: 40%;
            border-radius: 10px;
        }

        & div{
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5px;

            & #modal-title{
                width: 100%;
                font-size: 32px;
                text-align: center;
            }

            & div{
                display: flex;
                flex-direction: column;

                & #modal-price{
                    font-size: 32px;
                }
            }
        }

    }

    & .modal-lower{
        width: 100%;
        height: 45%;
        padding: 5px;

        & .modal-description{
            width: 100%;
            height: 100%;
            overflow-x: auto;
        }

        & .modal-footer{
            height: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            & button{
                width: 60%;
                padding: 7px;
                border-radius: 25px;
                border: 0px;
                background-color: #743DD2;
                color: white;
                transition: 0.2s;
                cursor: pointer;
                font-size: 20px;
            }

            & button:hover{
                background-color: #9167d8;
            }
        }
    }
}

* {
    --sb-track-color: #f7f7f7;
    --sb-thumb-color: #dadada;
    --sb-size: 14px;
  }
  
  *::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  *::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 23px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 23px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    * {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

/* status pedido */
.canceled {
    color: rgb(212, 26, 26) !important;
}

.pending, .in_delivery{
    color: rgb(201, 201, 30) !important;
}

.in_prepare{
    color: rgb(113, 45, 190) !important;
}

.ready_to_take{
    color: rgb(255, 94, 0) !important;
}

.finished, .accepted {
    color: #0fc061 !important;
}

.modal-order, .modal-change-order{
    display: flex;
    position: relative;
    flex-direction: column;

    & .loading-modal{
        position: absolute;
        z-index: 1000;
    }

    & .close-modal{
        position: absolute !important;
        left: 97% !important;
        z-index: +10000000000;
    }

    & .line{
        background-color: rgb(221, 221, 221);
        height: 1px;
        border-radius: 100px;
        margin-bottom: 10px;
        width: 100%;
    }
    
    & .itens{
        width: 100%;
        display: flex;
        background-color: rgba(240, 240, 240, 0.589);
        padding: 10px;
        flex-direction: column;
        max-height: 40%;
        margin-bottom: 10px;
        border-radius: 10px;
        overflow-x: auto;

        & .item{
            width: 100%;
            display: flex;
            flex-direction: column;
            border-bottom: solid 1px;
            
            & div{
                display: flex;
                font-size: 22px;
                justify-content: space-between;
            }

            & h2{
                font-size: 20px;
            }
        }
    }

    & .final-value{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    & .info{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    & .two-info{
        color: #000000c5;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;

        & h3{
            width: 50%;
        }

        & span{
            color: rgba(0, 0, 0, 0.308);
        }
    }

    & .order-info{
        height: 40%;
    }

    & .buttons{
        border-top: solid 1px rgb(221, 221, 221);
        padding-top: 10px;
        position: absolute;
        bottom: 2%;
        width: 98.3%;
        align-items: center;
        justify-content: space-around;
        display: flex;

        & button{
            cursor: pointer;
            border-radius: 20px;
            border: none;
            padding: 5px 6vw;
            font-size: 16px;
            transition: 0.2s;
        }

        & button:hover{
            opacity: 0.7;
        }

        & .confirm-order{
            color: white;
            background-color:#02C35B;
        }
        
        & .cancel-order{
            color: white;
            background-color:rgb(194, 36, 36);
        }
    }
}
